[Desktop Entry]
Encoding=UTF-8
Name=LliureX Perfilreset 
Name[es]=Lliurex Pefilreset
Name[ca_ES@valencia]=Lliurex Perfilreset
Name[ca]=Lliurex Perfilreset
Name[ca_ES.UTF-8@valencia]=Lliurex Perfilreset
TryExec=/usr/bin/lliurex-perfilreset
Comment=Reset the desktop profile to LliureX default
Comment[ca_ES@valencia]=Reinicialitza l'escriptori per a deixar-lo en el format de LliureX per defecte.
Comment[ca_ES.UTF-8@valencia]=Reinicialitza l'escriptori per a deixar-lo en el format de LliureX per defecte.
Comment[ca]=Reinicialitza l'escriptori per a deixar-lo en el format de LliureX per defecte.
Comment[es]=Resetea el escritorio dejándolo en el formato de LliureX por defecto.
StartupNotify=true
Exec=lliurex-perfilreset
Icon=lliurex-perfilreset
Terminal=false
Type=Application
Categories=GNOME;GTK;LliureX-Administration;
